{{ define "main" }}
<main>
  <header class="section">
    <h1 class="title is-1">{{ len .Data.Pages }} {{ .Title }}</h1>
  </header>
  {{ if .Content }}
  <section class="section">
    <div class="content">{{ .Content }}</div>
  </section>
  {{ end }}
  {{ range .Data.Pages.GroupByDate "January 2006" }}
  <header class="section has-text-centered">
    <h3 class="title is-3">{{ .Key }} ({{ len .Pages }} photos)</h3>
  </header>
  <section class="section" itemscope itemtype="http://schema.org/ImageGallery">
    <div class="columns is-multiline is-vcentered">
      {{ range .Pages.ByDate.Reverse }}
      {{ partial "photo-thumb.html" (dict "content" . "photosBaseURL" .Site.Params.photosBaseURL) }}
      {{ end }}
    </div>
  </section>
  {{ end }}
</main>
{{ end }}
