{{ define "main" }}
{{ $baseURL := .Site.BaseURL }}
{{ $photosBaseURL := .Site.Params.photosBaseURL }}
<main>
  <header class="section">
    <h1 class="title is-1">{{ .Title }}</h1>
    <h2 class="subtitle is-3">All {{ len .Data.Pages }} photos by month</h2>
  </header>
  {{ if .Content }}
  <section class="section">
    <div class="content">{{ .Content }}</div>
  </section>
  {{ end }}
  {{ range .Data.Pages.GroupByDate "January 2006" }}
  <header class="section has-text-centered">
    <h3 class="title is-2">{{ .Key }}</h3>
    <h4 class="subtitle is-4">{{ len .Pages }} photos</h4>
  </header>
  <section class="section" itemscope itemtype="http://schema.org/ImageGallery">
    <div class="columns is-centered is-vcentered is-multiline">
      {{ range .Pages.ByDate.Reverse }}
      {{ partial "photo-thumb.html" (dict "content" . "photosBaseURL" $photosBaseURL) }}
      {{ end }}
    </div>
  </section>
  {{ end }}
</main>
{{ end }}
