{{ define "main" }}
<main>
  <section class="hero">
    <div class="hero-body container has-text-centered">
      <figure itemscope representativeOfPage="true" itemtype="http://schema.org/ImageObject">
        <img class="has-frame" src="{{ .Site.Params.photosBaseURL }}{{ .Params.image_xl }}.jpg" alt="{{ .Title }}" width="{{ .Params.image_width_xl }}" height="{{ .Params.image_height_xl }}">
        <figcaption itemprop="caption description" style="display: none;">{{ .Description }}</figcaption>
      </figure>
      <header>
        <h1 class="title is-4 is-space">{{ .Title }}</h1>
        <h3 class="is-size-6">{{ .Params.description }}</h3>
      </header>
    </div>
  </section>
  <section class="section">
    <div class="container is-family-sans-serif">
      <div class="media">
        <div class="media-left">
          <span class="icon"><i class="fas fa-clock"></i></span>
        </div>
        <div class="media-content">
          {{ .Date.Format "02 Jan 2006" }}
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <span class="icon"><i class="fas fa-th-large"></i></span>
        </div>
        <div class="media-content">
          <div class="tags">
            {{ range .Params.galleries }}
            <span class="tag"><a href="{{ absURL "" }}galleries/{{ . | urlize }}">{{ . }}</a></span>
            {{ end }}
          </div>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <span class="icon"><i class="fas fa-tags"></i></span>
        </div>
        <div class="media-content">
          <div class="tags">
            {{ range .Params.phototags }}
            <span class="tag"><a href="{{ absURL "" }}phototags/{{ . | urlize }}">{{ . }}</a></span>
            {{ end }}
          </div>
        </div>
      </div>
      {{ if (and (isset .Params "gps_latitude") (ne .Params.gps_latitude "")) }}
      <div class="media">
        <div class="media-left">
          <span class="icon"><i class="fas fa-map-marked-alt"></i></span>
        </div>
        <div class="media-content">
          <a href="http://www.google.com/maps/place/{{ .Params.gps_latitude }},{{ .Params.gps_longitude }}">Lat. {{ .Params.gps_latitude }}, Long. {{ .Params.gps_longitude }}</a>
        </div>
      </div>
      {{ end }}
      <div class="media">
        <div class="media-left">
          <span class="icon"><i class="fas fa-envelope"></i></span>
        </div>
        <div class="media-content">
          <span><a href="mailto:{{ .Site.Params.author.email }}?subject=Request%20for%20info%20about%20your%20image%20{{ .Params.image }}">Contact me about this image (ID {{ .Params.image }})</a></span>
        </div>
      </div>
    </div>
  </section>
</main>
{{ end }}
