///////////////
// Google Fonts
///////////////
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script')
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700')

///////////////////////
// Bulma initial import
///////////////////////
@import "bulma/sass/utilities/initial-variables"
@import "bulma/sass/utilities/functions"

///////////////////
// My Bulma configs
///////////////////

// Colors
$background: $grey
$body-background-color: $background
$border: $grey-dark
$border-hover: $grey-darker
$card-background-color: $background
$link-color: hsl(100, 70%, 55%)
$link-color-visited: hsl(280, 70%, 55%)
$link: $link-color
$link-active: $black-ter
$link-active-border: $grey-darker
$link-focus: $black-ter
$link-focus-border: $link-color
$link-hover: $black-ter
$link-hover-border: $black-ter
$link-invert: findColorInvert($link-color)
$link-visited: $link-color-visited
$navbar-background-color: $background
$primary: $grey-lighter
$subtitle-color: $grey-light
$text: $grey-lighter
$text-light: $white-ter
$text-strong: $grey-light
$title-color: $grey-light

// Fonts
$family-logo: "Kaushan Script"
$family-sans-serif: "Oswald", sans-serif

// Section paddings
$section-padding: 1.5rem 1rem 1rem

// Column gap
$column-gap: 2rem

// Import the rest of Bulma
@import "bulma/sass/utilities/_all"
@import "bulma/sass/base/_all"
@import "bulma/sass/elements/content"
@import "bulma/sass/elements/container"
@import "bulma/sass/elements/icon"
@import "bulma/sass/elements/tag"
@import "bulma/sass/elements/title"
@import "bulma/sass/components/media"
@import "bulma/sass/components/navbar"
@import "bulma/sass/grid/columns"
@import "bulma/sass/layout/footer"
@import "bulma/sass/layout/hero"
@import "bulma/sass/layout/section"

///////////////////////
// Override Bulma style
///////////////////////

// Site title
#logo
  font-family: $family-logo
  font-size: $size-3
  +mobile
    font-size: $size-5

// Background color for navbar-menu
+touch
  .navbar-menu
    background-color: $background
