{{ define "main" }}
{{ $baseURL := .Site.BaseURL }}
<div class="container">
  <div class="columns">
    <div class="column is-four-fifths">
      <main class="section">
        <header>
          <h1 class="title is-1">Blog ({{ len .Data.Pages }})</h1>
        </header>
        {{ range .Data.Pages }}
        <article class="section pb-5">
          {{ .Render "summary" }}
        </article>
        {{ end }}
      </main>
    </div>
    <div class="column">
      <aside id="sidebar">
        {{ partial "mini-about" . }}
        {{ partial "blog-explore" . }}
      </aside>
    </div>
  </div>
</div>
{{ end }}
