{{ define "main" }}
{{ $baseURL := .Site.BaseURL }}
<main>
  <article class="section">
    <div class="container">
      <header>
        <h1 class="title is-1"><strong>{{ .Title }}</strong></h1>
        <h2 class="subtitle is-3"><small>{{ .Date.Format "Jan 2, 2006" }}</small></h2>
      </header>
      <div class="content">{{ .Content }}</div>
      <div class="media">
        <div class="media-left">
          <span class="icon"><i class="fa fa-tags"></i></span>
        </div>
        <div class="media-content">
          {{ range .Params.tags }}
          <span class="tag"><a href="{{ $baseURL }}tags/{{ . | urlize }}">{{ . }}</a></span>
          {{ end }}
        </div>
      </div>
    </div>
  </article>
</main>
{{ end }}
