{{ define "main" }}
<main>
  <header class="section">
    <h1 class="title is-1">{{ .Title }}</h1>
    <h2 class="subtitle is-3">Phototag with {{ len .Data.Pages }} photos</h2>
  </header>
  <section class="section" itemscope itemtype="http://schema.org/ImageGallery">
    <div class="columns is-centered is-vcentered is-multiline">
      {{ range .Data.Pages.ByDate.Reverse }}
      {{ partial "photo-thumb.html" (dict "content" . "photosBaseURL" .Site.Params.photosBaseURL) }}
      {{ end }}
    </div>
  </section>
</main>
{{ end }}
