{{ define "main" }}
<div class="container">
  <div class="columns">
    <div class="column is-four-fifths">
      <main class="section">
        <header>
          <h1 class="title is-1">{{ len .Data.Terms }} {{ .Title }}</h1>
        </header>
        <section class="section">
          <div class="columns is-multiline is-vcentered">
            {{ $data := .Data }}
            {{ range $key, $value := .Data.Terms.Alphabetical }}
            <span class="tag is-large"><a href="/tags/{{ $value.Name | urlize }}">{{ $value.Name }} ({{ $value.Count }})</a></span>
            {{ end }}
          </div>
        </section>
      </main>
    </div>
    <div class="column">
      <aside id="sidebar">
        {{ partial "mini-about" . }}
        {{ partial "blog-explore" . }}
      </aside>
    </div>
  </div>
</div>
{{ end }}
