{{ define "main" }}
{{ $baseURL := .Site.BaseURL }}
{{ $photosBaseURL := .Site.Params.photosBaseURL }}
<main>
  <header class="section">
    <h1 class="title is-1">{{ .Title }}</h1>
    <h2 class="subtitle is-3">Gallery with {{ len .Data.Pages }} photos</h2>
  </header>
  {{ if .Content }}
  <section class="section">
    <div class="content">{{ .Content }}</div>
  </section>
  {{ end }}
  <section class="section" itemscope itemtype="http://schema.org/ImageGallery">
    <div class="columns is-centered is-vcentered is-multiline">
      {{ range .Data.Pages.ByDate.Reverse }}
      {{ partial "photo-thumb.html" (dict "content" . "photosBaseURL" $photosBaseURL) }}
      {{ end }}
    </div>
  </section>
</main>
{{ end }}
