<header>
  <h2 class="title is-3"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  <p class="subtitle is-6">
    <span class="icon"><i class="fa fa-clock-o"></i></span>
    <span>{{ .Date.Format "Jan 2, 2006" }}</span>
    <span class="icon"><i class="fa fa-quote-left"></i></span>
    <span>Quote</span>
    {{ partial "blog-tagline" . }}
  </p>
</header>
<section>
  <div class="content">
    <blockquote>
      <p>{{ .Content }}</p>
      <footer>
        <cite>
          <span class="author">{{ .Params.author }}</span>
          {{ if isset .Params "source" }}
          — {{ .Params.source }}
          {{ else if isset .Params "link" }}
          — <a href="{{ .Params.link }}">
            {{ if isset .Params "source_link_title" }}
            {{ .Params.source_link_title | markdownify }}
            {{ else }}
            {{ .Params.link }}
            {{ end }}
          </a>
          {{ end }}
        </cite>
      </footer>
    </blockquote>
  </div>
</section>
