<section class="section">
  <div class="level">
    <div class="level-item">
      <figure class="image is-128x128">
        <img src="/img/mauro-taraborelli-portrait-256.jpg" alt="Mauro Taraborelli Portrait">
      </figure>
    </div>
  </div>
  <div class="level">
    <div class="level-item">
      <div class="content">
        I'm Mauro Taraborelli, and I'm an amateur photographer living in Senigallia,
        a small sea town in central Italy.
        <a href="/about">Read more...</a>
      </div>
    </div>
  </div>
</section>
