<div class="column is-one-quarter">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <span class="icon"><i class="fa fa-th"></i></span>
        </div>
        <div class="media-content">
          <span><small>{{ .value.Name }} ({{ .value.Count }} photos)</small></span>
        </div>
      </div>
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a itemprop="contentUrl" href="{{ .baseURL }}/{{ .data.Plural }}/{{ .value.Name | urlize }}">
          <img src="{{ .photosBaseURL }}{{ .cover.Params.image_s }}.jpg" itemprop="thumbnail" alt="{{ .value.Name }}" width="{{ .cover.Params.image_width_s }}" height="{{ .cover.Params.image_height_s }}">
        </a>
        <figcaption itemprop="caption description" style="display: none;">{{ .value.Name }}</figcaption>
      </figure>
    </div>
  </div>
</div>
