{{ define "main" }}
<main class="section">
  <div class="container">
    <header class="section">
      <h1 class="title is-1">{{ .Title }}</h1>
    </header>
    <section class="section">
      <div class="content is-large">
        I'm sorry, but the page doesn't exist. You can go back to the <a href="/">home page</a>, browse the <a href="/galleries/">galleries</a>, the <a href="/phototags/">photo tags</a>, or the entire <a href="/photos/">content</a>.
      </div>
    </section>
  </div>
</main>
{{ end }}
