{{ define "main" }}
{{ $baseURL := .Site.BaseURL }}
{{ $photosBaseURL := .Site.Params.photosBaseURL }}
<main class="section">
  <section class="content is-large">
    {{ .Content }}
  </section>
  <section itemscope itemtype="http://schema.org/ImageGallery">
    <div class="columns is-centered is-vcentered is-multiline">
      {{ range .Site.Taxonomies.phototags.Tenset }}
      {{ partial "photo-thumb.html" (dict "content" . "photosBaseURL" $photosBaseURL) }}
      {{ end }}
    </div>
  </section>
</main>
{{ end }}
