<header>
  <h2 class="title is-3"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  <p class="subtitle is-6">
    <span class="icon"><i class="fa fa-clock-o"></i></span>
    <span>{{ .Date.Format "Jan 2, 2006" }}</span>
    <span class="icon"><i class="fa fa-newspaper-o"></i></span>
    <span>Article of {{ .FuzzyWordCount }} words</span>
    {{ partial "blog-tagline" . }}
  </p>
</header>
<section>
  <div class="content">
    {{ .Summary }}
    {{ if .Truncated }}
    <a href="{{ .RelPermalink }}">Read more...</a>
    {{ end }}
  </div>
</section>
