<header>
  <h2 class="title is-3"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  <p class="subtitle is-6">
    <span class="icon-text">
      <span class="icon"><i class="fas fa-clock"></i></span>
      <span>{{ .Date.Format "Jan 2, 2006" }}</span>
      <span class="icon"><i class="fas fa-newspaper"></i></span>
      <span>Article of {{ .FuzzyWordCount }} words</span>
      {{ partial "blog-tagline" . }}
    </span>
  </p>
</header>
<section>
  <div class="content pt-5">
    {{ .Summary }}
    {{ if .Truncated }}
    <a href="{{ .RelPermalink }}">Read more...</a>
    {{ end }}
  </div>
</section>
