{{ partial "header.html" . }}
{{ $baseURL := .Site.BaseURL }}
{{ $photosBaseURL := .Site.Params.photosBaseURL }}
<section class="section">
  <div class="heading">
    <h1 class="title is-1"><strong>{{ .Title }}</strong></h1>
    <h2 class="subtitle">{{ len .Data.Terms }} phototags listed</h2>
  </div>
</section>
<section class="section">
  <div class="columns is-multiline">
    {{ $data := .Data }}
    {{ range $key, $value := .Data.Terms.ByCount }}
    {{ $cover := index $value.Pages.ByDate.Reverse 0 }}
    {{ partial "terms-gallery.html" (dict "content" . "baseURL" $baseURL "photosBaseURL" $photosBaseURL "data" $data "key" $key "value" $value "cover" $cover) }}
    {{ end }}
  </div>
</section>
{{ partial "footer.html" . }}
