{{ define "main" }}
<div class="container">
  <div class="columns">
    <div class="column is-four-fifths">
      <main>
        <header class="section">
          <h1 class="title is-1">{{ .Title }}</h1>
          <p class="subtitle is-6">
            <span class="icon-text">
              <span class="icon"><i class="fas fa-clock"></i></span>
              <span>{{ .Date.Format "02 Jan 2006" }}</span>
              <span class="icon"><i class="fas fa-image"></i></span>
              <span>Photo</span>
              {{ partial "blog-tagline" . }}
            </span>
          </p>
        </header>
        {{ with .Site.GetPage .Params.photopage }}
        <section class="section level p-0">
          <div class="level-item">
            <a href="{{ .RelPermalink }}">
              <figure itemscope representativeOfPage="true" itemtype="http://schema.org/ImageObject">
                <img class="has-frame" src="{{ .Site.Params.photosBaseURL }}{{ .Params.image_xl }}.jpg" alt="{{ .Title }}" width="{{ .Params.image_width_xl }}" height="{{ .Params.image_height_xl }}">
                <figcaption itemprop="caption description" style="display: none;">{{ .Description }}</figcaption>
              </figure>
            </a>
          </div>
        </section>
        {{ end }}
        <article class="section pt-5">
          <div class="content">
            {{ .Content }}
          </div>
        </article>
      </main>
    </div>
    <div class="column">
      <aside id="sidebar">
        {{ partial "mini-about" . }}
        {{ partial "blog-explore" . }}
      </aside>
    </div>
  </div>
</div>
{{ end }}
